In [15]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
import datetime
import seaborn as sns

path = 'C:/Users/svasiliev/PycharmProjects/pythonProject/cars_data/Datasets/open-data/operations.csv'

pd.set_option('display.max_rows', 50)
pd.set_option('display.min_rows', 20)
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 150)
pd.set_option('precision', 2)
pd.set_option('expand_frame_repr', True)

In [22]:
df = pd.read_csv(path, sep = ';', encoding = 'cp1251', error_bad_lines = False)

In [26]:
df.columns = ['time', 'paytime', 'card', 'status', 'summa', 'currency','payment_sum', 'currency_pay', 'cashback', 'category','MCC','desc','bonuses','round', 'summa_round']

In [28]:
grouped = df.groupby('category')

In [32]:
df

,time,paytime,card,status,summa,currency,payment_sum,currency_pay,cashback,category,MCC,desc,bonuses,round,summa_round
0,12.05.2021 13:48:24,12.05.2021,*9279,OK,"-57,00",RUB,"-57,00",RUB,NaN,Фастфуд,5814.0,24U,"0,00","0,00","57,00"
1,12.05.2021 11:13:34,NaN,*9279,OK,"-180,00",RUB,"-180,00",RUB,NaN,Транспорт,4121.0,Uber,"0,00","0,00","180,00"
2,11.05.2021 20:33:42,NaN,*9279,OK,"-198,00",RUB,"-198,00",RUB,NaN,Транспорт,4121.0,Uber,"0,00","0,00","198,00"
3,11.05.2021 14:17:51,11.05.2021,*9279,OK,"-125,81",RUB,"-125,81",RUB,1.0,Супермаркеты,5411.0,Дикси,"1,00","0,00","125,81"
4,11.05.2021 11:02:17,NaN,*9279,OK,"-209,00",RUB,"-209,00",RUB,NaN,Транспорт,4121.0,Uber,"0,00","0,00","209,00"
5,11.05.2021 09:02:49,11.05.2021,*9279,OK,"-200,00",RUB,"-200,00",RUB,NaN,Эл. кошельки/иб,NaN,Qiwi,"0,00","0,00","200,00"
6,11.05.2021 09:02:19,11.05.2021,*9279,OK,"-2150,00",RUB,"-2150,00",RUB,NaN,Эл. кошельки/иб,NaN,Qiwi,"0,00","0,00","2150,00"
7,10.05.2021 22:06:27,11.05.2021,*9279,OK,"-226,00",RUB,"-226,00",RUB,2.0,Супермаркеты,5411.0,ВкусВилл,"2,00","0,00","226,00"
8,10.05.2021 19:58:36,10.05.2021,*9279,OK,"-688,90",RUB,"-688,90",RUB,6.0,Супермаркеты,5411.0,Магнолия,"6,00","0,00","688,90"
9,10.05.2021 19:51:41,12.05.2021,*9279,OK,"-117,00",RUB,"-117,00",RUB,5.0,Транспорт,4121.0,Ситимобил,"5,00","0,00","117,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,30.03.2020 01:47:50,01.04.2020,*9279,OK,"-587,00",RUB,"-587,00",RUB,5.0,Транспорт,4121.0,Uber,"5,00","0,00","587,00"
1610,30.03.2020 00:25:04,01.04.2020,*9279,OK,"-137,00",RUB,"-137,00",RUB,1.0,Транспорт,4121.0,Uber,"1,00","0,00","137,00"
1611,29.03.2020 20:42:03,01.04.2020,*9279,OK,"-342,60",RUB,"-342,60",RUB,3.0,Супермаркеты,5411.0,Магнолия,"3,00","0,00","342,60"
1612,29.03.2020 20:27:35,30.03.2020,*9279,OK,"-190,00",RUB,"-190,00",RUB,1.0,Аренда авто,7512.0,whoosh,"1,00","0,00","190,00"
1613,29.03.2020 20:25:46,30.03.2020,*9279,OK,"-160,00",RUB,"-160,00",RUB,1.0,Аренда авто,7512.0,whoosh,"1,00","0,00","160,00"
1614,29.03.2020 19:56:51,30.03.2020,*9279,OK,"-60,00",RUB,"-60,00",RUB,0.0,Аренда авто,7512.0,whoosh,"0,00","0,00","60,00"
1615,29.03.2020 19:21:04,01.04.2020,*9279,OK,"-176,00",RUB,"-176,00",RUB,1.0,Супермаркеты,5411.0,Азбука Вкуса,"1,00","0,00","176,00"
1616,29.03.2020 18:31:30,29.03.2020,*9279,OK,"-900,00",RUB,"-900,00",RUB,NaN,Переводы/иб,NaN,Игорь К.,"0,00","0,00","900,00"
1617,29.03.2020 18:23:09,29.03.2020,*9279,OK,"90000,00",RUB,"90000,00",RUB,NaN,Финан. услуги,6012.0,Перевод с карты,"0,00","0,00","90000,00"
1618,29.03.2020 18:22:58,NaN,*3813,OK,"-90000,00",RUB,"-90000,00",RUB,NaN,Переводы,NaN,Перевод с карты,"0,00","0,00","90000,00"

In [39]:
df.summa = df['summa'].str.replace(',', '.')
df.payment_sum = df['payment_sum'].str.replace(',', '.')

In [45]:
df.summa = df['summa'].astype('float64')
df.payment_sum = df['payment_sum'].astype('float64')

In [58]:
df['type'] = 'outflow'
df[df['summa'] < 0]

,time,paytime,card,status,summa,currency,payment_sum,currency_pay,cashback,category,MCC,desc,bonuses,round,summa_round
0,12.05.2021 13:48:24,12.05.2021,*9279,OK,-57.00,RUB,-57.00,RUB,NaN,Фастфуд,5814.0,24U,"0,00","0,00","57,00"
1,12.05.2021 11:13:34,NaN,*9279,OK,-180.00,RUB,-180.00,RUB,NaN,Транспорт,4121.0,Uber,"0,00","0,00","180,00"
2,11.05.2021 20:33:42,NaN,*9279,OK,-198.00,RUB,-198.00,RUB,NaN,Транспорт,4121.0,Uber,"0,00","0,00","198,00"
3,11.05.2021 14:17:51,11.05.2021,*9279,OK,-125.81,RUB,-125.81,RUB,1.0,Супермаркеты,5411.0,Дикси,"1,00","0,00","125,81"
4,11.05.2021 11:02:17,NaN,*9279,OK,-209.00,RUB,-209.00,RUB,NaN,Транспорт,4121.0,Uber,"0,00","0,00","209,00"
5,11.05.2021 09:02:49,11.05.2021,*9279,OK,-200.00,RUB,-200.00,RUB,NaN,Эл. кошельки/иб,NaN,Qiwi,"0,00","0,00","200,00"
6,11.05.2021 09:02:19,11.05.2021,*9279,OK,-2150.00,RUB,-2150.00,RUB,NaN,Эл. кошельки/иб,NaN,Qiwi,"0,00","0,00","2150,00"
7,10.05.2021 22:06:27,11.05.2021,*9279,OK,-226.00,RUB,-226.00,RUB,2.0,Супермаркеты,5411.0,ВкусВилл,"2,00","0,00","226,00"
8,10.05.2021 19:58:36,10.05.2021,*9279,OK,-688.90,RUB,-688.90,RUB,6.0,Супермаркеты,5411.0,Магнолия,"6,00","0,00","688,90"
9,10.05.2021 19:51:41,12.05.2021,*9279,OK,-117.00,RUB,-117.00,RUB,5.0,Транспорт,4121.0,Ситимобил,"5,00","0,00","117,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1608,30.03.2020 19:55:02,30.03.2020,*9279,OK,-1300.00,RUB,-1300.00,RUB,NaN,Переводы/иб,NaN,Игорь К.,"0,00","0,00","1300,00"
1609,30.03.2020 01:47:50,01.04.2020,*9279,OK,-587.00,RUB,-587.00,RUB,5.0,Транспорт,4121.0,Uber,"5,00","0,00","587,00"
1610,30.03.2020 00:25:04,01.04.2020,*9279,OK,-137.00,RUB,-137.00,RUB,1.0,Транспорт,4121.0,Uber,"1,00","0,00","137,00"
1611,29.03.2020 20:42:03,01.04.2020,*9279,OK,-342.60,RUB,-342.60,RUB,3.0,Супермаркеты,5411.0,Магнолия,"3,00","0,00","342,60"
1612,29.03.2020 20:27:35,30.03.2020,*9279,OK,-190.00,RUB,-190.00,RUB,1.0,Аренда авто,7512.0,whoosh,"1,00","0,00","190,00"
1613,29.03.2020 20:25:46,30.03.2020,*9279,OK,-160.00,RUB,-160.00,RUB,1.0,Аренда авто,7512.0,whoosh,"1,00","0,00","160,00"
1614,29.03.2020 19:56:51,30.03.2020,*9279,OK,-60.00,RUB,-60.00,RUB,0.0,Аренда авто,7512.0,whoosh,"0,00","0,00","60,00"
1615,29.03.2020 19:21:04,01.04.2020,*9279,OK,-176.00,RUB,-176.00,RUB,1.0,Супермаркеты,5411.0,Азбука Вкуса,"1,00","0,00","176,00"
1616,29.03.2020 18:31:30,29.03.2020,*9279,OK,-900.00,RUB,-900.00,RUB,NaN,Переводы/иб,NaN,Игорь К.,"0,00","0,00","900,00"
1618,29.03.2020 18:22:58,NaN,*3813,OK,-90000.00,RUB,-90000.00,RUB,NaN,Переводы,NaN,Перевод с карты,"0,00","0,00","90000,00"

In [73]:
df.groupby('desc').sum().sort_values('summa')

                                                        summa  payment_sum  cashback       MCC
desc
Qiwi                                               -326842.00   -326842.00       0.0       0.0
Игорь К.                                           -234680.00   -234680.00       0.0       0.0
Альфа-Банк                                          -95000.00    -95000.00       0.0   18033.0
Uber                                                -78340.00    -78340.00    1923.0  968435.0
Ситимобил                                           -72361.00    -72361.00    1880.0  799474.0
Billa                                               -56693.65    -56693.65     530.0  400414.0
SPAR                                                -41532.72    -41532.72     393.0  254745.0
Перевод с карты                                     -35355.00    -35355.00       0.0  168336.0
Дикси                                               -35092.62    -35092.62     286.0  676375.0
Магнолия                                            -32830.15    -32830.15     287.0  465346.0
...                                                       ...          ...       ...       ...
Сергей В.                                             1538.00      1538.00       0.0       0.0
Внесение наличных через банкомат Тинькофф             3200.00      3200.00       0.0       0.0
Проценты на остаток по счету                          3208.08      3208.08       0.0       0.0
Илья К.                                               4402.50      4402.50       0.0       0.0
Вознаграждение за операции покупок                    8596.71      8596.71       0.0       0.0
Банкомат Тинькофф                                     9400.00      9400.00       0.0   18033.0
МКБ                                                  32000.00     32000.00       0.0       0.0
Получение Кредита                                    50000.00     50000.00       0.0    9999.0
Пополнение с карты другого банка. TINKOFF BANK ...  154000.00    154000.00       0.0   18036.0
Людмила С.                                          221200.00    221200.00       0.0       0.0

[138 rows x 4 columns]

In [76]:
import datetime
df.time = pd.to_datetime(df.time)

In [77]:
df.set_index('time', inplace = True)

In [88]:
grouped = df.groupby(['desc'])

In [91]:
grouped.sum()['summa'].sort_values()

desc
Qiwi                                                       -326842.00
Игорь К.                                                   -234680.00
Альфа-Банк                                                  -95000.00
Uber                                                        -78340.00
Ситимобил                                                   -72361.00
Billa                                                       -56693.65
SPAR                                                        -41532.72
Перевод с карты                                             -35355.00
Дикси                                                       -35092.62
Магнолия                                                    -32830.15
                                                              ...
Сергей В.                                                     1538.00
Внесение наличных через банкомат Тинькофф                     3200.00
Проценты на остаток по счету                                  3208.08
Илья К.                                                       4402.50
Вознаграждение за операции покупок                            8596.71
Банкомат Тинькофф                                             9400.00
МКБ                                                          32000.00
Получение Кредита                                            50000.00
Пополнение с карты другого банка. TINKOFF BANK CARD2CARD    154000.00
Людмила С.                                                  221200.00
Name: summa, Length: 138, dtype: float64